@use 'sass:map';
@use './colors.scss' as c;

$themes: (
	weather-station: (
		background-color: c.$gunmetal-gray,
		text-color: c.$white,
		primary-color: c.$deep-saffron,

		error: c.$coral-red,

		navbar: var(--primary-color),
		button-disabled: c.$davy-gray,

		card-border: c.$outer-space,
		card-background: transparent,
		card-text-color: c.$white,

		input-border: var(--primary-color),
		input-inactive-border: c.$davy-gray,
		input-text-color: c.$black,
		input-required-asterisk: c.$coral-red,

		button-text-color: white,
		button-color: var(--primary-color),
		sidebar-color: c.$dirt,

		top-bar-background: var(--primary-color),
		top-bar-text-color: white,

		link-color: #709dd4,

		spinner-color: white,
		loader-overlay-color: rgba(255, 255, 255, 0.1),
		dialog-text-color: c.$black
	),
	time-sheet: (
		background-color: #fff,
		text-color: #000,
		// primary-color: #124e66,
		primary-color: #0078a3,

		error: #ffa293,

		navbar: var(--primary-color),
		button-disabled: c.$davy-gray,

		card-border: c.$outer-space,
		card-background: #748d92,
		card-text-color: c.$white,

		input-border: var(--primary-color),
		input-inactive-border: #cacaca,
		input-text-color: #000,
		input-required-asterisk: #ffa293,

		button-text-color: white,
		button-color: var(--primary-color),
		sidebar-color: c.$dirt,

		top-bar-background: var(--primary-color),
		top-bar-text-color: white,

		link-color: #73b2ff,

		spinner-color: var(--primary-color),
		loader-overlay-color: rgba(0, 0, 0, 0.1),
		dialog-text-color: c.$white
	)
);

@mixin add-theme($theme-name) {
	@each $variable-name, $value in map.get($themes, $theme-name) {
		--#{$variable-name}: #{$value};
	}
}
